[Libraries]
[Libraries]/
[Libraries/**]

# Unity generated folders
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/

# VS
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
